<html>

<head>
    <meta charset="utf-8">
    <title> QR.SU </title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
    <header>
        <nav>
            <a class="logo">QR.SU</a>
            <div class="left">
                <a href="#home">Главная</a>
                <a href="#contact">Контакты</a>
                <a href="#about">О нас</a>
            </div>
            <div class="right">
                <a href="#login">Логин</a>
                <a href="#register">Регистрация</a>
            </div>
        </nav >
    </header>
    <content>
        <div class="text">
            <h1>Добро пожаловать!</h1>
            <h2>Вас приветвует сайт QR.SU!</h2>
        </div>
        <div class="picture">
            <img src="рис.jpg" id="image" width=100%>
        </div>
    </content>
</body>

</html>
